<div class="row">
  <div class="span6 offset3">
    <%= form_for @comment do |f| %>
      <%= f.text_field :body %>
      <%= f.hidden_field :video_id, :value => @comment.video_id %>

      <%= f.submit "Add comment", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>